.App {
  text-align: center;
  font-family: serif;
}
.App-header {
  background-color: #dadada;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} 

.TitleText{
  position: absolute;
  font-size: calc(50px + 2vmin);
  color: #222222;
  top: 4vh;
  left: 55vw;
}

.ContentText {
  position: relative;
  text-align: left;
  height: 40vmin;
  width: 70vw;
  left: 7vw;
  top: -5vh;
  color: #222222;
}

/******************************
*           Menu
*******************************/

.graRuta{
  position: absolute;
  background-color: #9b9cb1;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
}

.Searchbar {
  position:absolute;
  width: 16%;
  height: 4vh;
  border-radius: 2vh;
  top: 2vh;
  left: 2vw;
  border: black 1px;
  font-size: 2vh;
  text-align: center;
  box-shadow: #5a5a5a 0 1px 8px;
}

.ShowWiki {
  position:relative;
  margin-right: 400px;
  padding:10px;
  font-size: 20px;
}

.Knapptext{
  text-align: left;
}

/******************************
*           Wiki
*******************************/

.WikiMeny{
  position: absolute;
  top: 9vh;
  left: 2vw;
  width: 16vw;
  height: 13vh;
  background-color: #f3f3f3;
  box-shadow: #5a5a5a 0 1px 8px;
  border-radius: 5px;
}

.WikiText{
  position: absolute;
  width: 4vw;
  height: 5vh;
  left: 6vw;
}

.WikiPlus,
.WikiPenna,
.WikiSlang{
  float: left;
  margin-left: 1.7vw;
  margin-top: 5vh;
  background-color: #faf7ff;
  width: 3vw;
  height: 6vh;
  border-radius: 50%;
  box-shadow: #5a5a5a 0 1px 8px;
  border: none;
}

/******************************
*         WikiPage
*******************************/

.WikiPageMeny{
  display: flex;
  position: absolute;
  top: 25vh;
  left: 2vw;
  width: 16vw;
  height: 13vh;
  background-color: #f3f3f3;
  box-shadow: #5a5a5a 0 1px 8px;
  border-radius: 5px;
}

.WikiPageText{
  position: absolute;
  margin-left: 4.5vw;
  width: 7vmin;
  height: 5vmin;
}

.WikiPagePlus,
.WikiPagePenna,
.WikiPageSlang{
  float: right;
  margin-left: 1.7vw;
  margin-top: 5vh;
  background-color: #faf7ff;
  width: 3vw;
  height: 6vh;
  top: 6vh;
  left: 12vw;
  border-radius: 50%;
  box-shadow: #5a5a5a 0 1px 8px;
  border: none;
}

.Showtext {
  margin: 10px;
}
