.App {
  text-align: center;
  font-family: serif;
}

* {
  margin:0;
  padding:0;
  font-family:Cambria, serif;
}

.App-header {
  background-color: #dadada;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} 

.TitleText{
  position: absolute;
  font-size: calc(50px + 2vmin);
  color: #222222;
  top: 4vh;
  left: 55vw;
}

.ContentText {
  position: relative;
  text-align: left;
  height: 40vmin;
  width: 70vw;
  left: 7vw;
  top: -5vh;
  color: #222222;
}

/******************************
*           Menu
*******************************/

.graRuta{
  position: absolute;
  background-color: #9b9cb1;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
}

.Searchbar {
  position:absolute;
  width: 16%;
  height: 4vh;
  border-radius: 2vh;
  top: 2vh;
  left: 2vw;
  border: black 1px;
  font-size: 2vh;
  text-align: center;
  box-shadow: #5a5a5a 0 1px 8px;
}

.ShowWiki {
  position:relative;
  margin-right: 200px;
  padding:10px;
  font-size: 20px;
}

.Knapptext{
  text-align: left;
}

/******************************
*           Wiki
*******************************/

.WikiMeny{
  position: absolute;
  top: 9vh;
  left: 2vw;
  width: 16vw;
  height: 13vh;
  background-color: #f3f3f3;
  box-shadow: #5a5a5a 0 1px 8px;
  border-radius: 5px;
}

.WikiText{
  position: absolute;
  width: 4vw;
  height: 5vh;
  left: 6vw;
}

.WikiPlus,
.WikiPenna,
.WikiSlang{
  float: left;
  margin-left: 1.7vw;
  margin-top: 5vh;
  background-color: #faf7ff;
  width: 3vw;
  height: 6vh;
  border-radius: 50%;
  box-shadow: #5a5a5a 0 1px 8px;
  border: none;
}

/******************************
*         WikiPage
*******************************/

.WikiPageMeny{
  display: flex;
  position: absolute;
  top: 25vh;
  left: 2vw;
  width: 16vw;
  height: 13vh;
  background-color: #f3f3f3;
  box-shadow: #5a5a5a 0 1px 8px;
  border-radius: 5px;
}

.WikiPageText{
  position: absolute;
  margin-left: 4.5vw;
  width: 7vmin;
  height: 5vmin;
}

.WikiPagePlus,
.WikiPagePenna,
.WikiPageSlang{
  float: right;
  margin-left: 1.7vw;
  margin-top: 5vh;
  background-color: #faf7ff;
  width: 3vw;
  height: 6vh;
  top: 6vh;
  left: 12vw;
  border-radius: 50%;
  box-shadow: #5a5a5a 0 1px 8px;
  border: none;
}

.Showtext {
  margin: 10px;
}






.wikiHeader {
  position:relative;
  top:0px;
  width:100vw;
  height:64px;
  background-color:#9b9cb1;
  text-align:left;
}

.wikiHeader a{
  line-height:64px;
  color:white;
  
}

.entryRow {
  display:flex;
  justify-content:center;
}

.entryRow a {
  margin:0;
}

.wikiHeaderToStart {
  margin-left:64px;
  float:left;
  font-size:32px;
}

.wikiHeaderToWikis {
  margin-right:64px;
  float:right;
  font-size:20px;
}

.main {
  top:0px;
  position:absolute;
  width:100vw;
  min-height:100vw;
}

.Entry {
  position:relative;
  top:48px;
  bottom:64px;
  left:64px;
  right:64px;
  text-align:left;
}

.EntryTitle {
  font-weight:bold;
  font-size:36px;
}

.EntryContent {
  margin-top:18px;
  font-size:24px;
}

.EntryStatus {
  margin-top:64px;
  color:#5a5a5a;
  font-size:18px;
}